:root {
  --primary-title-color: #2e2f42;
  --primary-title-color2: #2e2f421a;
  --primary-text-color: #434455;
  --accent-color: #4d5ae5;
  --primary-white-color: #ffffff;
  --third-bg-color: #f4f4fd;
  --footer-color: rgba(255, 255, 255, 0.6);
  --hero-btn-background: #404bbf;
  --header-border-color: #e7e9fc;
  --staff-bg-color: #f4f4fd;
  --footer-accent-color: #31d0aa;
  --border-color: #8e8f99;
  --border-input-color: rgba(46, 47, 66, 0.4);
  --close-bg-color: #e7e9fc1a;
  --policy-color: rgba(77, 90, 229, 1);
  --close-border-color: #2e2f421a;

  --project-border-color: #eeeeee;
  --bg-cover-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --activity-bg-color: rgba(47, 48, 58, 0.8);

  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);

  --main-font: "Roboto", sans-serif;
}
